#maxdView 1.0.3
#Wed Jul 07 11:37:08 CEST 2004
WebPlot.mouse_tracking=false
dplot.name_col_3.len=32
dplot.name_col_3.trim=true
dplot.box_width=113
dplot.box_height=9
LoadPlainText.col_type_10=7
ScatterPlot.name_tags.ProbeAttr=
HyperCubePlot.show_origin=false
HyperCubePlot.show_spots=true
HyperCubePlot.spot_size=0
NameMunger.translate_direct=false
ReadNative.sax_path=.\\external\\xml4j\\xerces.jar
LoadPlainText.missing_value=
HelpPanel.width=800
SortClusters.apply_filter=false
MeasurementManager.orient_stats_by_meas=true
dplot.border_gap=0
SimpleMaths.panel_height=629
HelpPanel.history0\ .url=file\:./plugins/Transform/SVD/SVD.html
DataPlot.welcome_dir_mode=1
dplot.name_col_2.display=Probe name
WriteNative.include_attribs=true
ScatterPlot.name_tags.GeneAttr=
ProfileViewer.uniform_scale=true
HelpPanel.history4\ .url=file\:./plugins/Transform/NameMunger/NameMunger.html\#load
ProfileViewer.col_sel=true
HelpPanel.history8\ .url=file\:docs/Started.html
SpotAttributes.expand_spot_attr_names=true
SortClusters.sort_spots=true
ProfileViewer.auto_space=true
dplot.name_col_gap=8
ReadNative.data_load_directory=C\:\\Documents and Settings\\dave\\bio\\data\\bela
LoadPlainText.load_path=C\:\\Documents and Settings\\dave\\bio\\data\\bela\\rma_inf_tab_maxd.txt
dplot.show_spot_branches=true
dplot.name_col_0.trim=true
dplot.font_family=0
clustman.hsplit=150
SVD.use_filter=false
HyperCubePlot.show_axes_labels=true
dplot.align_spot_glyphs=false
MeasurementManager.search_string=
dplot.name_col_2.len=32
eview.text_colour=16240119
ReadNative.keep_existing_attributes_jrb=false
WriteNative.apply_filter=false
clustman.height=587
SuperGrouper.auto_space=true
WebPlot.parallel_axes=true
dplot.branch_spot_scale=2
SuperGrouper.adjust_auto_remove_empty=true
SimpleMaths.apply_filter=false
LoadPlainText.encoding_name=US-ASCII
NameMunger.file=
NameMunger.filter=false
SortClusters.sort_meas=true
SpotAttributes.group_spot_attrs_by_name=false
eview.runs=2
HyperCubePlot.width=423
ReadNative.keep_existing_colourisers_jrb=false
dplot.n_name_cols=4
HelpPanel.history1\ .url=file\:./docs/Concepts.html\#spot
dplot.name_col_3.display=Gene name(s)
HyperCubePlot.scale=0.5218627277066978
MeasurementManager.lock_stats_table_width=true
SVD.do_svd=false
dplot.row_gap=1
SpotAttributes.remember_column_widths=true
HyperCubePlot.persp=0.6271375765321641
HelpPanel.history5\ .url=file\:./docs/CommandTutorial.html
ProfileViewer.include_children=true
MathFilter.rule=""E12-NEWBU-NLH"" >  (1.5+ ""E7-NEWBU-NLO"")
NameMunger.translate_lower=false
WriteNative.data_directory=C\:\\Documents and Settings\\dave\\bio\\data\\bela\\rma_example.maxd.gz
SortClusters.show_progress=false
SpotAttributes.always_include_expr_values=true
HelpPanel.history9\ .url=file\:./docs/Tutorial.html
SimpleMaths.butts_dl=160
ProfileViewer.show_mean=false
dplot.name_col_0.display=Gene name(s)
HyperCubePlot.use_wireframe_for_move=false
HyperCubePlot.lsplit=164
HelpPanel.n_history_entries=10
ReadNative.filename_filter_mode=0
dplot.window_width=679
SVD.do_pca=true
NameMunger.mode=2
ScatterPlot.name_tags.SpotAttr=
HyperCubePlot.height=350
SuperGrouper.adjust_noise_level=0.01
SpotAttributes.sync_spot_sel=true
LoadPlainText.col_type_9=7
ProfileViewer.apply_filter=false
LoadPlainText.col_type_8=7
MeasurementManager.tab=0
LoadPlainText.col_type_7=7
LoadPlainText.col_type_6=7
LoadPlainText.col_type_5=7
dplot.overlay_meas_root=false
dplot.name_col_1.trim=true
LoadPlainText.col_type_4=7
LoadPlainText.col_type_3=7
LoadPlainText.col_type_2=7
SpotAttributes.expand_name_attr_names=true
LoadPlainText.col_type_1=7
ProfileFilter.source.GeneAttr=
HyperCubePlot.eye_sep=0.6
LoadPlainText.col_type_0=7
SimpleMaths.panel_width=741
SuperGrouper.col_sel=true
HyperCubePlot.show_axes=true
dplot.window_height=335
NameMunger.copy_nulls=false
WebPlot.use_filter=true
SpotAttributes.sync_meas_sel=true
ReadNative.keep_existing_clusters=false
SuperGrouper.adjust_rate=0.1
ProfileFilter.source.ProbeAttr=
WriteNative.measurement=0
dplot.name_col_1.len=32
dplot.show_meas_glyphs=true
SuperGrouper.adjust_what=5
HyperCubePlot.show_grid=false
LoadPlainText.col_names_line=0
ProfileFilter.source.Name=4
DataPlotLayoutOptions.tab_panel=2
WriteNative.clusters=1
maxdView.version=maxdView 1.0.3
LoadPlainText.data_load_directory=C\:\\Documents and Settings\\dave\\bio\\data\\bela
HelpPanel.history2\ .url=file\:./docs/DataModel.html
dplot.font_style=0
HyperCubePlot.uniform_scale=true
SuperGrouper.adjust_mode=1
NameMunger.translate_upper=false
HyperCubePlot.perftime=false
HelpPanel.history6\ .url=file\:docs/ClusterTutorial.html
MeasurementManager.search_case_sens=false
NameMunger.translate_srch=
HyperCubePlot.depth_sort=true
HyperCubePlot.show_edges=false
HyperCubePlot.show_glyphs=true
NameMunger.src_col=
MeasurementManager.search_substring=true
NameMunger.translate_file=true
dplot.name_col_3.align=2
eview.background_colour=6619237
dplot.name_col_2.trim=true
HelpPanel.height=976
dplot.overlay_spot_root=false
HyperCubePlot.use_filter=true
NameMunger.translate_rplc=
dplot.name_col_1.display=Spot name
ScatterPlot.name_tags.Name=4
dplot.name_col_1.align=2
licence_agreed.perl=true
dplot.col_gap=1
dplot.name_col_2.align=2
clustman.colour=100
SuperGrouper.distance_metric=0
WriteNative.compress=true
SimpleMaths.rule_butts_dl=200
dplot.show_meas_branches=true
HyperCubePlot.show_limits=true
SpotAttributes.remember_column_layout=true
dplot.font_size=12
dplot.name_col_0.len=32
HyperCubePlot.stereo=false
dplot.name_col_0.align=2
NameMunger.translate_to=
MathFilter.scale=true
clustman.vsplit=281
dplot.align_meas_glyphs=false
HelpPanel.split_pane_width=200
NameMunger.translate_substitute=false
HelpPanel.history3\ .url=file\:./docs/NameTagEditor.html
NameMunger.translate_from=
DataPlotLayoutOptions.panel_w=350
WebPlot.uniform_scaling=false
HelpPanel.history7\ .url=file\:docs/Started.html\#clusters
ProfileFilter.source.SpotAttr=
SimpleMaths.rule_dl=100
DataPlotLayoutOptions.panel_h=380
SuperGrouper.apply_filter=false
SpotAttributes.apply_filter=false
NameMunger.dest_col=
dplot.branch_meas_scale=2
clustman.width=500
HyperCubePlot.rsplit=599
dplot.show_spot_glyphs=true
