#maxdView 1.0.4
#Tue Jun 22 16:03:01 CEST 2004
HyperCubePlot.show_glyphs=true
dplot.name_col_19.len=32
PluginManager."Web\ Plot".enable=false
dplot.name_col_23.align=2
NameMunger.translate_lower=false
dbload.height=593
LoadPlainText.comment_prefix=\#
dplot.name_col_7.len=32
dbload.hsplit=247
dplot.n_name_cols=2
FilterByNameOrValue.filter_logic=0
PluginManager."Code\ Runner".enable=true
XCluster.by_spots=true
runext.save_path=C\:\\Documents and Settings\\dave\\bio\\maxdView
PluginManager."Text\ Explorer".enable=true
coderun.compiler_path=C\:\\Java\\jdk1.4\\bin\\javac.exe
SampleNormaliser.parameter_3=true
SampleNormaliser.parameter_2=0.301
dbload.driver_loc=/lib/jdbc-driver.jar
SampleNormaliser.parameter_1=0.462
dplot.name_col_13.trim=true
LoadPlainText.missing_value=
DBConMan.db0.acct=hancockd
TTest.makevarAValue=false
dplot.name_col_5.trim=true
TextExplorer.source.ProbeAttr=
RegExprFilter.source.GeneAttr=
dplot.name_col_4.align=2
DBConMan.db8.host=jdbc\:mysql\:/127.0.0.1/maxd_small
HelpPanel.history6\ .url=file\:./plugins/Viewer/WebPlot/WebPlot.html
dplot.name_col_14.align=2
XCluster.apply_filter=false
LoadPlainText.space_delim=false
PluginManager."RegExp\ Filter".enable=true
dplot.name_col_6.display=UpdatedUnigene
DBConMan.db3.name=public 1
HyperCubePlot.depth_sort=true
PluginManager."Filter\ By\ Selection".enable=true
TextExplorer.case_sens=false
DatabaseLoader.db0.name=cogeme
PluginManager."XCluster".enable=true
RegExpFilter.invert_logic=false
SpotAttributes.expand_spot_attr_names=true
saveastext.row_labels_remove_whitespace=true
dplot.font_family=0
JustOClust.detect_substr=true
dbload.host=jdbc\:DRIVER\:HOST\:maxd
coderun.library_path=code-library\\
FindDialog.name=GSO2
dplot.window_height=352
TextExplorer.source.SpotAttr=
GGMNormaliser.noise_threshold=0.056
JustOClust.delims=\ " \:;()-{}[],.<>
ProfileViewer.spot_label.SpotAttr=
PluginManager."App\ In\ A\ Box".enable=false
coderun.use_jit=false
HyperCubePlot.name_tags.GeneAttr=
PluginManager."Cluster\ Manager".enable=true
ProfileViewer.auto_space=true
dplot.font_size=8
XCluster.som_rows=4
HyperCubePlot.use_wireframe_for_move=false
HelpPanel.height=748
HyperCubePlot.show_axes_labels=true
ProfileViewer.uniform_scale=true
MeasurementManager.export_path=C\:\\Documents and Settings\\dave\\attr-test.dat
SimpleMaths.panel_width=451
dbload.account=
XCluster.by_meas=false
FilterByList.filter_list=hj
XCluster.centered=false
SpotAttributes.remember_column_widths=true
PluginManager."Filter\ By\ Name\ Or\ Value".enable=true
dplot.name_col_14.trim=true
DBConMan.db1.acct=
exportToARFF.sig_dig=6
DBConMan.new_format_active=true
dplot.show_meas_branches=true
SpotAttributes.always_include_expr_values=false
TTest.makevarBValue=false
dplot.name_col_6.trim=true
HelpPanel.history7\ .url=file\:./plugins/Viewer/Zipf/ZipfAnalyser.html
DBConMan.db9.host=jdbc\:mysql\:/127.0.0.1/maxd
saveastext.spot_labels.GeneAttr=0 2
ReadNative.keep_existing_attributes_jrb=false
DBConMan.db6.driver=com.mysql.jdbc.Driver
dplot.name_col_22.display=Gene name(s)
SimpleMaths.rule_dl=107
dplot.row_gap=1
WriteNative.measurement=1
WebPlot.parallel_axes=false
DBConMan.db4.name=public 2
dplot.font_style=0
HyperCubePlot.show_origin=true
RegExpFilter.oromatch_path=C\:\\Documents and Settings\\dave\\bio\\maxdView\\external\\OROMatcher-1.1.0a\\
clustman.height=410
clustman.hsplit=190
dplot.name_col_11.len=32
FilterByNameOrValue.meas_rule.meas.18=Ex20
FilterByNameOrValue.meas_rule.meas.17=Ex19
FilterByNameOrValue.meas_rule.meas.16=Ex18
FilterByNameOrValue.meas_rule.meas.15=Ex17
FilterByNameOrValue.meas_rule.meas.14=Ex16
dplot.name_col_18.display=Spot name
FilterByNameOrValue.meas_rule.meas.13=Ex15
FilterByNameOrValue.meas_rule.meas.12=Ex14
FilterByNameOrValue.meas_rule.meas.11=Ex13
FilterByNameOrValue.meas_rule.meas.10=Ex12
DatabaseLoader.db0.driver_loc=/lib/jdbc-driver.jar
DataPlotLayoutOptions.tab_panel=3
maxdView.version=maxdView 1.0.4
FilterByNameOrValue.name_mode=0
ProfileFilter.source.GeneAttr=0
HyperCubePlot.name_tags.ProbeAttr=
CompareClusters.min_clust_size=5
HyperCubePlot.show_spots=true
dplot.name_col_8.align=1
dplot.name_col_18.align=2
DBConMan.db1.driver=org.gjt.mm.mysql.Driver
NameMunger.file=C\:\\Documents and Settings\\dave\\gene-symbols.dat
SuperGrouper.distance_metric=1
LoadPlainText.comma_delim=false
ReadNative.keep_existing_clusters=false
MeasurementManager.search_all_meas=false
PluginManager."Super\ Grouper".enable=true
dplot.name_col_13.align=2
HyperCubePlot.name_tags.Name=2
TTest.makeMeanDifValue=false
JustOClust.source.Name=0
dbload.load_probe_details=true
clustman.save_path=C\:\\Documents and Settings\\dave
dplot.name_col_3.display=Probe name
NameMunger.translate_upper=false
dplot.name_col_15.trim=true
DBConMan.db2.acct=
FilterByList.source.Name=0
FilterByNameOrValue.source.ProbeAttr=
dplot.name_col_0.display=Gene name(s)
LoadPlainText.col_type_9=0
LoadPlainText.col_type_8=0
FilterBySelection.mode=1
LoadPlainText.col_type_7=7
LoadPlainText.col_type_6=7
LoadPlainText.col_type_5=7
LoadPlainText.col_type_4=7
dplot.name_col_7.trim=true
LoadPlainText.col_type_3=7
LoadPlainText.col_type_2=7
LoadPlainText.col_type_1=7
NameMunger.copy_nulls=false
HelpPanel.history8\ .url=file\:./plugins/Viewer/Zipf/ZipfAnalyser.html
LoadPlainText.col_type_0=3
FindDialog.name_tag_sel.GeneAttr=
dplot.name_col_gap=4
dplot.overlay_spot_root=false
dplot.box_width=84
dplot.name_col_14.len=32
XCluster.tmp_dir=.
exportToARFF.current_directory=C\:\\Documents and Settings\\dave\\bio
dplot.name_col_2.len=16
ReadNative.keep_existing_colourisers_jrb=false
DBConMan.db5.name=maxdnew on equador
SVD.do_svd=false
clustman.native_format=true
dplot.name_col_21.len=32
SpotAttributes.sync_sel=true
JustOClust.source.SpotAttr=
dbload.vsplit=331
HyperCubePlot.uniform_scale=true
PluginManager."Multi\ Filter".enable=true
licence.agreed=true
PluginManager."Write\ Native".enable=true
MeasurementManager.tab=0
clustman.insert_root=true
PluginManager."Scatter\ Plot".enable=true
FilterByList.filter_mode=1
coderun.load_path=C\:\\Documents and Settings\\dave\\bio\\maxdView\\code-fragments
MeasurementManager.export_include_source=true
licence_agreed.perl=true
XCluster.del_files=true
TTest.makeMeanAValue=false
TTest.makeDFValue=false
LoadPlainText.settings_path=C\:\\Documents and Settings\\dave\\bio\\data\\helen\\compugen-8020-settings
HyperCubePlot.rsplit=922
dplot.name_col_8.display=Gene name(s)
TTest.makePValueTwo=true
eview.background_colour=6619237
dplot.name_col_17.len=32
clustman.colour_depth_first=false
dplot.name_col_16.trim=true
DBConMan.db3.acct=
Normalise.apply_filter=false
dplot.name_col_5.len=32
clustman.lon_format=false
FilterByList.source.GeneAttr=
dplot.name_col_8.trim=true
HelpPanel.history9\ .url=file\:./plugins/Importer/LoadPlainText/LoadPlainText.html
MeasurementManager.search_all_attr=true
dplot.name_col_22.align=2
XCluster.k_means=true
clustman.colour_from=3355647
dplot.name_col_7.align=2
TTest.colt_path=.\\plugins\\Transform\\TTest\\colt.jar
DatabaseLoader.db0.acct=
TextExplorer.n_top_toks=100
dplot.name_col_17.align=2
FilterByNameOrValue.meas_rule.meas.9=Ex11
FilterByNameOrValue.meas_rule.meas.8=Ex10
FilterByNameOrValue.meas_rule.meas.7=Ex8
FilterByNameOrValue.meas_rule.meas.6=Ex7
FilterByNameOrValue.meas_rule.meas.5=Ex6
FilterByNameOrValue.meas_rule.meas.4=Ex5
FilterByNameOrValue.meas_rule.meas.3=Ex4
FilterByNameOrValue.meas_rule.meas.2=Ex3
DBConMan.db6.name=maxdnew J/c test
FilterByNameOrValue.meas_rule.meas.1=Ex2
NameMunger.filter=false
FilterByNameOrValue.meas_rule.meas.0=Ex1
Normalise.normaliser=Global Geometric Mean
TextExplorer.all_tokens=true
NameMunger.translate_rplc=
HelpPanel.split_pane_width=146
FindDialog.width=472
LSNormaliser.iter_max=1000.0
dplot.name_col_3.align=2
PluginManager."Run\ External".enable=true
WriteNative.include_attribs=false
DBConMan.db0.host=jdbc\:oracle\:thin\:@cogeme.cs.man.ac.uk\:1527\:cogeme
WebPlot.uniform_scaling=true
coderun.clean_errors=false
PluginManager."Weka\ Clustering".enable=true
SuperGrouper.col_sel=false
dplot.box_height=8
DatabaseLoader.n_saved_dbs=1
CompareClusters.min_match_score=75.0
PluginManager."Distogram".enable=true
exportToARFF.apply_filter=true
NameMunger.make_unique=true
HyperCubePlot.eye_sep=0.514608255414526
SortClusters.show_progress=false
XCluster.none=false
PluginManager."Spot\ Attributes".enable=true
HyperCubePlot.show_edges=false
HyperCubePlot.use_filter=true
TTest.makeMeanBValue=true
JustOClust.case_sens=true
LVNormaliser.show_stats=false
RegExprFilter.source.Name=0
NameMunger.translate_substitute=false
FilterByNameOrValue.filter_mode=1
HyperCubePlot.spot_size=1
clustman.vsplit=245
ReadNative.filename_filter_mode=0
PluginManager."Load\ Plain\ Text".enable=true
PluginManager."Zipf\ Analyser".enable=true
LoadPlainText.tab_delim=true
WriteNative.apply_filter=false
dplot.name_col_8.len=32
coderun.height=796
FilterByNameOrValue.meas_rule.enabled.18=false
FilterByNameOrValue.meas_rule.enabled.17=false
FilterByNameOrValue.meas_rule.enabled.16=false
FilterByNameOrValue.meas_rule.enabled.15=false
FilterByNameOrValue.meas_rule.enabled.14=false
FilterByNameOrValue.meas_rule.enabled.13=false
FilterByNameOrValue.meas_rule.enabled.12=false
FilterByNameOrValue.meas_rule.enabled.11=false
FilterByNameOrValue.meas_rule.enabled.10=false
dbload.optimise_for_small_joins=false
PluginManager."HyperCube\ Plot".enable=true
clustman.load_stanford=false
saveastext.spot_labels.ProbeAttr=
runext.load_path=C\:\\Documents and Settings\\dave\\bio\\maxdView
dplot.name_col_17.trim=true
DBConMan.db4.acct=
SuperGrouper.name_tags.GeneAttr=
clustman.width=481
dplot.name_col_9.trim=true
SpotAttributes.group_spot_attrs_by_name=false
TTest.makePValue=true
PluginManager."Profile\ Viewer".enable=true
LoadPlainText.encoding=UTF-16
SuperGrouper.auto_space=false
ScatterPlot.name_tags.GeneAttr=
MeasurementManager.export_include_headers=true
HyperCubePlot.height=879
DBConMan.db7.name=maxd copy src
FindDialog.name_tag_sel.ProbeAttr=
LSNormaliser.noise_threshold=0.1
HyperCubePlot.show_limits=true
SpotAttributes.apply_filter=true
LoadPlainText.col_names_line=0
SVD.jnl_path=D\:\\java\\apps\\JNL\\Classes\\
IDNormaliser.log_data=false
RegExprFilter.source.SpotAttr=
DBConMan.db1.host=jdbc\:mysql\://localhost/maxd_small
DataPlotLayoutOptions.panel_w=588
FilterByNameOrValue.source.GeneAttr=
clustman.insert_selection=false
dplot.name_col_5.display=Probe name
HyperCubePlot.width=778
SortClusters.sort_spots=false
AnnotationViewer.height=713
XCluster.som_cols=4
dplot.name_col_2.display=symb
DBConMan.driver_loc=C\:\\Java\\apps\\mysql-connector-java-2.0.14\\mysql-connector-java-2.0.14-bin.jar
SpotAttributes.sync_spot_sel=true
SpotAttributes.expand_name_attr_names=true
DataPlotLayoutOptions.panel_h=405
PluginManager."Save\ To\ Database".enable=true
FindDialog.case=false
dplot.name_col_21.align=2
PluginManager."Math\ Filter".enable=true
maxdViewISYSDataPackager.panel_height=300
MeasurementManager.import_delim_char_code=1
FilterByNameOrValue.source.Name=0
NameMunger.set_blank=false
PluginManager."Just-o-Clust".enable=true
DBConMan.db5.driver=com.mysql.jdbc.Driver
clustman.save_src=2
ProfileViewer.name_tags.ProbeAttr=
dplot.name_col_18.trim=true
DBConMan.db5.acct=hancockd
SuperGrouper.adjust_noise_level=0.01
saveastext.meas_attr_label_headings=true
TTest.useRemainingVals=true
IDNormaliser.grid_points=0.0
saveastext.sig_digs=4
IDNormaliser.span_percent=29.978
dplot.name_col_20.trim=true
SuperGrouper.adjust_mode=1
dplot.name_col_2.align=1
dplot.name_col_12.align=2
HyperCubePlot.name_tags.SpotAttr=
SuperGrouper.name_tags.Name=1
dplot.show_spot_branches=true
FilterByNameOrValue.meas_rule.enabled.9=false
FilterByNameOrValue.meas_rule.enabled.8=false
FilterByNameOrValue.meas_rule.enabled.7=false
FilterByNameOrValue.meas_rule.enabled.6=false
FilterByNameOrValue.meas_rule.enabled.5=false
coderun.show_method_tree=true
XCluster.log_trans=false
FilterByNameOrValue.meas_rule.enabled.4=false
FilterByNameOrValue.meas_rule.enabled.3=false
DBConMan.db8.name=maxd small
JustOClust.min_repeat_pc=25
FilterByNameOrValue.meas_rule.enabled.2=false
FilterByNameOrValue.meas_rule.enabled.1=false
NameMunger.translate_direct=false
FilterByNameOrValue.meas_rule.enabled.0=false
SVD.do_pca=true
FilterByNameOrValue.meas_rule.value.9=0.0
DBConMan.db0.driver=oracle.jdbc.driver.OracleDriver
LoadPlainText.load_path=C\:\\Documents and Settings\\dave\\bio\\data\\example.dat
FilterByNameOrValue.meas_rule.value.8=0.0
FilterByNameOrValue.meas_rule.value.7=0.0
FilterByNameOrValue.meas_rule.value.6=0.0
HyperCubePlot.scale=0.2404950446957455
FilterByNameOrValue.meas_rule.value.5=0.0
FilterByNameOrValue.meas_rule.value.4=0.0
dplot.branch_spot_scale=2
FilterByNameOrValue.meas_rule.value.3=0.0
FilterByNameOrValue.meas_rule.value.2=0.0
FilterByNameOrValue.meas_rule.value.1=0.0
ProfileFilter.source.ProbeAttr=
FilterByNameOrValue.meas_rule.value.0=0.0
LoadPlainText.end_line=406
SimpleMaths.rule_butts_dl=212
SpotAttributes.spot_label.SpotAttr=
ProfileViewer.name_tags.GeneAttr=
LVNormaliser.max_iters=537
saveastext.current_directory=C\:\\Documents and Settings\\dave\\bio\\data
FilterByNameOrValue.meas_rule.op.9=0
FilterByNameOrValue.meas_rule.op.8=0
dplot.name_col_12.len=32
SVD.use_filter=true
FilterByNameOrValue.meas_rule.op.7=0
FilterByNameOrValue.meas_rule.op.6=0
MeasurementManager.export_include_timestamp=true
FilterByNameOrValue.meas_rule.op.5=0
ReadNative.sax_path=C\:\\Documents and Settings\\dave\\bio\\maxdView\\external\\xml4j\\xerces.jar
FilterByNameOrValue.meas_rule.op.4=0
FilterByNameOrValue.meas_rule.op.3=0
FilterByNameOrValue.meas_rule.op.2=0
FilterByNameOrValue.meas_rule.op.1=5
FilterByNameOrValue.meas_rule.op.0=0
SortClusters.sort_meas=false
dplot.name_col_0.len=32
MeasurementManager.search_string=37
HelpPanel.history0\ .url=file\:plugins/Transform/WekaCluster/WekaCluster.html
DBConMan.db2.host=
dplot.name_col_21.display=Gene name(s)
saveastext.spot_labels.SpotAttr=0
CompareClusters.max_clust_width=16
MeasurementManager.export_delim_char_code=0
AnnotationViewer.width=779
ProfileViewer.apply_filter=false
HyperCubePlot.stereo=false
TextExplorer.source.Name=0
ProfileViewer.spot_label.GeneAttr=
ScatterPlot.name_tags.Name=2
dplot.window_width=696
PluginManager."SVD".enable=true
ProfileFilter.source.SpotAttr=
IDNormaliser.method=Loess
SimpleMaths.butts_dl=274
dplot.name_col_19.trim=true
DBConMan.db0.driver_loc=D\:\\java\\apps\\oracle9i\\new\\classes12.jar
DBConMan.db6.acct=hancockd
CenteringNormaliser.median_center=false
dplot.name_col_21.trim=true
IDNormaliser.show_ma_plot=false
NameMunger.set_clear=false
saveastext.spot_labels.Name=3
FindDialog.height=122
PluginManager."Database\ Loader".enable=true
dplot.name_col_15.len=32
DBConMan.db9.name=maxd j/c test
PluginManager."Export\ Weka\ Dataset".enable=false
DBConMan.db1.driver_loc=c\:\\java\\apps\\mm.mysql.jdbc-1.2c\\
dplot.name_col_3.len=32
maxdViewISYSDataGrabber.panel_height=380
dplot.name_col_22.len=32
saveastext.compress=false
NameMunger.translate_file=true
PluginManager."Notepad".enable=false
SpotAttributes.remember_column_layout=true
DBConMan.db9.driver=com.mysql.jdbc.Driver
dplot.name_col_6.align=2
dplot.name_col_0.trim=true
DBConMan.db2.driver_loc=
dplot.name_col_16.align=2
NameMunger.set_to=true
HelpPanel.history1\ .url=file\:./docs/Commands.html
DBConMan.db3.host=
PluginManager."Stack\ Plot".enable=false
FindDialog.name_tag_sel.SpotAttr=
TTest.makePValueOne=false
PluginManager."Simple\ Maths".enable=true
FilterByNameOrValue.meas_rule.value.18=0.0
FilterByNameOrValue.meas_rule.value.17=0.0
FilterByNameOrValue.meas_rule.value.16=0.0
FilterByNameOrValue.meas_rule.value.15=0.0
FilterByNameOrValue.meas_rule.value.14=0.0
FilterByNameOrValue.meas_rule.value.13=0.0
FilterByNameOrValue.meas_rule.value.12=0.0
FilterByNameOrValue.meas_rule.value.11=0.0
DatabaseLoader.db0.host=jdbc\:DRIVER\:HOST\:maxd
FilterByNameOrValue.meas_rule.value.10=0.0
SimpleMaths.panel_height=576
saveastext.measure_headings=true
LVNormaliser.noise_threshold=0.0010
JustOClust.source.ProbeAttr=
SuperGrouper.apply_filter=true
NameMunger.set_filter=$2I
DBConMan.db3.driver_loc=
IDNormaliser.kernel=TriCube
WriteNative.clusters=1
DBConMan.db4.driver=
PluginManager."Name\ Munger".enable=true
eview.runs=589
XCluster.prog=D\:\\softs\\cluster2_51.exe
clustman.colour=13421772
DBConMan.db7.acct=
clustman.colour_to=65280
NameMunger.src_col=1
dplot.name_col_18.len=32
DBConMan.db4.driver_loc=
dplot.name_col_22.trim=true
PluginManager."Reorder\ Measurements".enable=true
TextExplorer.delims=\ 
dplot.name_col_6.len=32
LSNormaliser.tolerance=1.0E-4
dbload.load_gene_details=true
coderun.compiler_flags=
PluginManager."Compare\ Clusters".enable=true
LoadPlainText.encoding_name=US-ASCII
DBConMan.db5.driver_loc=C\:\\Java\\apps\\mysql-connector-java-2.0.14
dplot.align_meas_glyphs=false
FilterByNameOrValue.meas_rule.op.18=0
FilterByNameOrValue.meas_rule.op.17=0
FilterByNameOrValue.meas_rule.op.16=0
FilterByNameOrValue.meas_rule.op.15=0
FilterByNameOrValue.meas_rule.op.14=0
FilterByNameOrValue.meas_rule.op.13=0
dplot.branch_meas_scale=3
FilterByNameOrValue.meas_rule.op.12=0
FilterByNameOrValue.meas_rule.op.11=0
FilterByNameOrValue.meas_rule.op.10=0
dplot.name_col_1.trim=true
HelpPanel.history2\ .url=file\:./plugins/Viewer/QCChart/QCChart.html
DBConMan.db4.host=
TextExplorer.source.GeneAttr=2
JustOClust.source.GeneAttr=1
DBConMan.db6.driver_loc=C\:\\Java\\apps\\mysql-connector-java-2.0.14\\mysql-connector-java-2.0.14-bin.jar
HyperCubePlot.show_axes=true
SpotAttributes.sync_meas_sel=false
clustman.load_path=C\:\\Documents and Settings\\dave\\bio\\data\\synthetic
WekaCluster.weka_path=C\:\\Java\\apps\\weka-3-2\\weka.jar
IDNormaliser.noise_threshold=12.903
dplot.col_gap=1
MeasurementManager.search_substring=true
DBConMan.db7.driver_loc=C\:\\java\\apps\\mm.mysql.jdbc-1.2c\\
NameMunger.mode=4
DBConMan.host=jdbc\:mysql\:/127.0.0.1/maxd
LoadPlainText.start_line=0
dplot.name_col_9.len=32
clustman.colour_blend_mode=0
ScatterPlot.name_tags.ProbeAttr=
DBConMan.db8.acct=
dplot.align_spot_glyphs=false
ProfileViewer.show_mean=false
IDNormaliser.grid_span=22.602
WriteNative.data_directory=C\:\\Documents and Settings\\dave\\bio\\data\\armstrong-james\\david hancock.maxd
SuperGrouper.adjust_auto_remove_empty=false
dplot.name_col_23.trim=true
TTest.makeTValue=true
DBConMan.db8.driver_loc=C\:\\java\\apps\\mm.mysql.jdbc-1.2c\\
dplot.name_col_20.align=2
dplot.name_col_5.align=2
maxdViewISYSDataPackager.panel_width=350
dplot.name_col_15.align=2
dplot.name_col_23.display=Gene name(s)
PluginManager."Event\ Watcher".enable=false
DataPlot.welcome_dir_mode=4
HyperCubePlot.lsplit=112
PluginManager."Normalise".enable=true
coderun.save_path=C\:\\Documents and Settings\\dave\\bio\\maxdView\\code-fragments
PluginManager."Sort\ by\ Name\ or\ Value".enable=true
ProfileViewer.spot_label.ProbeAttr=
ProfileViewer.col_sel=true
saveastext.delim=0
dplot.name_col_19.display=Gene name(s)
DBConMan.db9.driver_loc=C\:\\Java\\apps\\mysql-connector-java-2.0.14\\mysql-connector-java-2.0.14-bin.jar
PluginManager."Benford\ Analyser".enable=true
dplot.name_col_10.trim=true
dplot.name_col_1.align=2
dplot.name_col_11.align=2
dplot.name_col_2.trim=true
SuperGrouper.name_tags.SpotAttr=
XCluster.pearson=true
DBConMan.db8.driver=org.gjt.mm.mysql.Driver
DBConMan.db5.host=jdbc\:mysql\://equador.cs.man.ac.uk/maxdnew
HelpPanel.history3\ .url=file\:./plugins/Filter/ProfileFilter/ProfileFilter.html
ProfileViewer.name_tags.Name=2
dplot.name_col_10.len=32
DBConMan.db0.name=cogeme
exportToARFF.relation_name=Anonymous
LoadPlainText.col_type_99=3
LoadPlainText.col_type_98=3
DatabaseLoader.db0.driver=some.database.Driver
coderun.time_limit=30
LoadPlainText.col_type_97=3
LoadPlainText.col_type_96=3
LoadPlainText.col_type_95=3
LoadPlainText.col_type_94=3
LoadPlainText.col_type_93=3
LoadPlainText.col_type_92=3
LoadPlainText.col_type_91=3
StudentTTest.colt_path=.\\plugins\\Transform\\StudentTTest\\\\colt.jar
LoadPlainText.col_type_90=3
saveastext.col_labels_remove_whitespace=true
MathFilter.arrange_list_by_measurment=false
ProfileFilter.source.Name=0
clustman.colour_apply_to_children=false
TTest.applyFilter=true
DBConMan.db3.driver=
XCluster.som=false
DBConMan.driver=com.mysql.jdbc.Driver
HyperCubePlot.persp=0.7394619124335335
LoadPlainText.col_type_89=3
LoadPlainText.col_type_88=3
LoadPlainText.col_type_87=3
LoadPlainText.col_type_86=3
PluginManager."Read\ Native".enable=true
LoadPlainText.col_type_85=3
LoadPlainText.col_type_84=3
DBConMan.db9.acct=
LoadPlainText.col_type_83=3
LoadPlainText.col_type_82=3
dplot.name_col_4.display=Spot name
LoadPlainText.col_type_81=3
LoadPlainText.col_type_80=3
MathFilter.rule="(wsu - wsb )" < 0 
dplot.name_col_1.display=Probe name
eview.text_colour=16240119
MeasurementManager.orient_stats_by_meas=false
SuperGrouper.adjust_what=3
LoadPlainText.col_type_79=3
LoadPlainText.col_type_78=3
LoadPlainText.col_type_77=3
LoadPlainText.col_type_76=3
IDNormaliser.use_grid=true
FilterByList.source.SpotAttr=1
LoadPlainText.col_type_75=3
LoadPlainText.col_type_74=3
LoadPlainText.col_type_73=3
clustman.save_children=true
GGMNormaliser.show_stats=true
LoadPlainText.col_type_72=3
LoadPlainText.col_type_71=3
NameMunger.translate_srch=
LoadPlainText.col_type_70=3
dplot.show_meas_glyphs=false
SpotAttributes.spot_label.Name=2
LoadPlainText.col_type_69=3
LoadPlainText.col_type_68=3
LoadPlainText.col_type_67=3
LoadPlainText.col_type_66=3
LoadPlainText.col_type_65=3
dplot.name_col_11.trim=true
LoadPlainText.col_type_64=3
LoadPlainText.col_type_63=3
LoadPlainText.col_type_62=3
LoadPlainText.col_type_61=3
dplot.name_col_13.len=32
LoadPlainText.col_type_60=3
LoadPlainText.col_type_108=3
SpotAttributes.spot_label.ProbeAttr=
dplot.name_col_3.trim=true
LoadPlainText.col_type_107=3
LoadPlainText.col_type_106=3
XCluster.euclidian=false
TextExplorer.sort_alpha=true
LoadPlainText.col_type_105=3
LoadPlainText.col_type_104=3
HelpPanel.history4\ .url=file\:./docs/NameTagEditor.html
DBConMan.db6.host=jdbc\:mysql\://equador.cs.man.ac.uk/maxdnew
dplot.name_col_1.len=32
LoadPlainText.col_type_103=3
FilterByNameOrValue.filter_op=4
ProfileViewer.spot_label.Name=2
LoadPlainText.col_type_102=3
PluginManager."Sort\ Clusters".enable=true
LoadPlainText.col_type_101=3
dplot.name_col_9.align=2
LoadPlainText.col_type_100=3
RegExpFilter.case_sensitive=false
dplot.name_col_19.align=2
saveastext.apply_filter=false
LoadPlainText.col_type_59=3
clustman.load_lon=true
dplot.name_col_20.len=32
PluginManager."Save\ As\ Text".enable=true
LoadPlainText.col_type_58=3
LoadPlainText.col_type_57=3
MeasurementManager.lock_stats_table_width=true
LoadPlainText.col_type_56=3
LoadPlainText.col_type_55=3
LoadPlainText.col_type_54=3
DBConMan.db1.name=local mysql
LoadPlainText.col_type_53=3
LoadPlainText.replace_mode=true
LoadPlainText.col_type_52=3
LoadPlainText.col_type_51=3
SuperGrouper.adjust_rate=0.1
LoadPlainText.col_type_50=3
clustman.colour_breadth_first=true
clustman.load_native=false
CenteringNormaliser.noise_threshold=0.0010
MeasurementManager.export_format_code=0
XCluster.k_val=6
ProfileViewer.name_tags.SpotAttr=
LoadPlainText.col_type_49=3
dplot.show_spot_glyphs=true
LoadPlainText.col_type_48=3
NameMunger.translate_from=
LoadPlainText.col_type_47=3
HelpPanel.n_history_entries=10
LoadPlainText.col_type_46=3
CenteringNormaliser.show_stats=true
LoadPlainText.col_type_45=3
FilterByList.source.ProbeAttr=
LoadPlainText.col_type_44=3
maxdViewISYSDataGrabber.panel_width=350
LoadPlainText.col_type_43=3
LoadPlainText.col_type_42=3
LoadPlainText.col_type_41=3
LoadPlainText.col_type_40=3
dplot.name_col_20.display=Gene name(s)
dplot.overlay_meas_root=true
LSNormaliser.show_stats=true
TextExplorer.apply_filter=false
RegExprFilter.source.ProbeAttr=
TextExplorer.at_most_N=false
FilterByClusters.mode=1
LoadPlainText.col_type_39=3
NameMunger.translate_to=
SortClusters.apply_filter=false
LoadPlainText.col_type_38=0
LoadPlainText.col_type_37=0
MeasAtts.height=300
LoadPlainText.col_type_36=0
dplot.name_col_0.align=2
LoadPlainText.col_type_35=0
LoadPlainText.col_type_34=0
LoadPlainText.col_type_33=0
LoadPlainText.col_type_32=0
LoadPlainText.col_type_31=0
dplot.name_col_10.align=2
LoadPlainText.col_type_30=0
SimpleMaths.apply_filter=false
WriteNative.compress=false
coderun.width=1049
FilterByNameOrValue.filter_value=0.0
dplot.name_col_16.len=32
LoadPlainText.col_type_29=0
LoadPlainText.col_type_28=0
ScatterPlot.name_tags.SpotAttr=
LoadPlainText.col_type_27=0
LoadPlainText.data_load_directory=C\:\\Documents and Settings\\dave\\bio\\data
LoadPlainText.col_type_26=0
dbload.width=782
LoadPlainText.col_type_25=0
LoadPlainText.col_type_24=0
ReadNative.data_load_directory=C\:\\Documents and Settings\\dave\\bio\\data\\fang
LoadPlainText.col_type_23=0
dplot.name_col_4.len=32
LoadPlainText.col_type_22=0
LoadPlainText.col_type_21=0
LoadPlainText.col_type_20=0
PluginManager."Profile\ Filter".enable=true
HelpPanel.width=853
dplot.name_col_12.trim=true
FindDialog.name_tag_sel.Name=1
runext.temp_dir=/tmp
HyperCubePlot.show_grid=true
dplot.name_col_23.len=32
dplot.name_col_4.trim=true
HelpPanel.history5\ .url=file\:./plugins/Filter/ProfileFilter/ProfileFilter.html
DBConMan.db7.host=jdbc\:mysql\:/127.0.0.1/maxd
ProfileViewer.include_children=false
DBConMan.db7.driver=org.gjt.mm.mysql.Driver
QCChart.applyFilter=false
LoadPlainText.col_type_19=0
LoadPlainText.col_type_18=0
LoadPlainText.col_type_17=0
LoadPlainText.col_type_16=0
LoadPlainText.col_type_15=0
FilterByNameOrValue.name_string=
LoadPlainText.col_type_14=0
LoadPlainText.col_type_13=0
LoadPlainText.col_type_12=0
SpotAttributes.spot_label.GeneAttr=
LoadPlainText.col_type_11=0
LoadPlainText.col_type_10=0
MeasurementManager.search_case_sens=false
HyperCubePlot.perftime=false
DBConMan.db2.name=remote demo
MeasurementManager.import_path=C\:\\Documents and Settings\\dave\\attr-example-3.dat
WebPlot.mouse_tracking=false
NameMunger.dest_col=2
SuperGrouper.name_tags.ProbeAttr=
FilterByNameOrValue.source.SpotAttr=
dbload.load_spot_details=true
WebPlot.use_filter=true
dbload.driver=some.database.Driver
PluginManager."Filter\ By\ Clusters".enable=true
DBConMan.n_saved_dbs=10
FindDialog.exact=false
DBConMan.db2.driver=
LoadPlainText.merge_mode=false
DBConMan.account=
JustOClust.min_word_len=3
MeasAtts.width=619
MathFilter.scale=false
RegExpFilter.pattern=UN
dplot.border_gap=1
